/* Golbal Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Black+Ops+One&family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&text=DragonBallTACTICS&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.d-none {
  display: none !important;
}

:root {
  font-size: 62.5%;
  --main-font: "Poppins", sans-serif;
  --name-font: "Black Ops One", cursive;
  --blue-color: #40c9ff;
  --blue-value: 20, 112, 170;
  /* --lime-color : rgb(81, 238, 191); */
  --lime-color: #3df9ff;
  --lime-value: 61, 249, 255;
  --green-color: #6ae652;
  --green-value: 106, 230, 82;
  --yellow-color: #f3d127;
  --yellow-value: 243, 209, 39;
  --orange-color: #de683d;
  --orange-value: 222, 104, 61;
  --red-color: #f72727;
  --red-value: 247, 39, 39;
  --stat-color: #000046;
  /* --stat-color: #970707; */
  --stat-value: 0, 0, 70;
  --will: 80%;
  --pride: 64%;
  --hp1: 100%;
  --hp2: 100%;
  --hp3: 100%;
  --hp4: 100%;
  --playHeight: 37rem;
  --fly: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-image: radial-gradient(circle, #e7f0f7 0%, #94aabf 100%);
  font-family: var(--main-font);
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
}

/* ***************** */
/* Header */

.main-header {
  background-image: url("img/header/dd9hz4s-9028ee7b-6d9c-4e4d-b7b1-48caacd9c434.png");
  background-size: cover;
  background-position: 50% 75%;
  border-bottom: 3px solid black;
  height: 10rem;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Press Start 2P", cursive;
  font-size: 3.5rem;
  color: #cb3704;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.main-header h1 img {
  width: 5rem;
}

.main-header h1 div {
  flex-basis: 36rem;
  flex-shrink: 0;
}

/* ***************** */
/* Arena */

.arena {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  width: 120rem;
  height: 47.5rem;
  margin: 1rem auto 0;
  transition: transform 0.6s ease 3s;
}

.arena.battleState {
  grid-template-columns: 1fr 1fr;
}

.backdrop {
  position: fixed;
  top: 10rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease 4s;
  width: 100vw;
  height: 70rem;
}
.backdrop.battleState {
  opacity: 1;
  visibility: visible;
}

/* Arena Battle Start */
.arena .battle-bell {
  position: absolute;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) scale(1.4);
  transition: opacity 0.1s ease 0.5s;
}

.arena .battle-bell.battleState {
  opacity: 1;
  visibility: visible;
  animation: battle-bell1 0.23s ease 0.5s, battle-bell2 0.23s ease 2.2s;
  animation-fill-mode: forwards;
}

/* Arena Battle Move */
.arena .battle-move {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 40rem;
  height: 40rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) scale(0.4);
  border-radius: 100vh;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.arena .battle-move img {
  border-radius: 100vh;
}

.arena .battle-move.show {
  opacity: 1;
  visibility: visible;
  animation: battle-bell1 0.23s ease 0.5s;
  transition: opacity 0.1s ease 0.5s;
}

/* ******************** */
/* Arena Battle Control */

.arena .battle-control {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 10rem;
  transform: translate(-50%, 250%);
  opacity: 0;
  visibility: hidden;
}

.arena .battle-control button {
  width: 6.75rem;
  height: 6.75rem;
  flex-shrink: 0;
  padding: 0;
  margin: 0 0.5rem;
  background: none;
  background-color: var(--lime-color);
  /* background: radial-gradient(circle, #14db25 0%, #14db25cc 70%, #000000 100%); */
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 100vh;
  cursor: pointer;
}

.arena .battle-control button img {
  padding: 1rem;
  object-fit: contain;
  /* border-radius: 100vh; */
}

.arena .battle-control #charge_btn img {
  transform: scale(0.8);
}

.arena .battle-control button:active {
  transform: scale(1.15);
}

/* *********************** */
/* Arena Character Profile */

.arena .player-info {
  width: 35rem;
  /* height: 47.5rem; */
  margin: 0 auto;
  border: 2px solid var(--stat-color);
  padding: 0.7rem 1rem;
  color: rgb(54, 54, 54);
}

.arena.battleState .player-info {
  display: none;
}

.arena .player-info .avatar {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  align-items: center;
}

.arena .player-info .avatar-name {
  display: inline-block;
  margin-right: auto;
  color: var(--stat-color);
  font-family: var(--name-font);
  font-size: 3rem;
  font-weight: normal;
}

.arena .player-info .avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 100vh;
}
.arena .player-info .avatar-race {
  margin-right: 0.5rem;
  text-align: right;
  line-height: 1.3;
}
.arena .player-info .avatar-race h3 {
  font-weight: normal;
  color: rgb(90, 90, 90);
}
.arena .player-info .avatar-race p {
  font-size: 1.7rem;
  color: var(--stat-color);
}

.radar {
  margin: 0.5rem;
  position: relative;
}

.radar > * {
  display: block;
  margin: 0 auto;
}

.radar img {
  object-fit: contain;
}

.arena .player-info .radar img {
  width: 16rem;
  height: 16rem;
}

.radar .radar-cookie {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13rem;
  height: 13rem;
  transform: translate(-50%, -47%);
  clip-path: polygon(50% 4.5%, 96.93% 38.59%, 79.3% 94.4%, 20.7% 94.4%, 3.07% 38.59%);
  background: linear-gradient(45deg, rgba(255, 103, 110, 1) 0%, rgb(255, 198, 128) 100%);
  opacity: 0.925;
  transition: all 0.3s ease;
}

.arena .player-info .radar .radar-cookie {
  opacity: 0.85;
}

.arena .player-info section > h3 {
  margin: 1.4rem 0 0.9rem;
  padding: 0 0.5rem;
  width: 65%;
  background: linear-gradient(to left, #e48265 0%, #df4d4d 100%);
  letter-spacing: 1px;
  color: white;
  transform: skew(-20deg);
  box-shadow: 1px 1px rgb(121, 55, 55), 2px 2px rgb(131, 54, 54);
}

.arena .player-info .ability p {
  letter-spacing: 1px;
  line-height: 1.3;
}

.arena .player-info .attribute-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arena .player-info .attribute-bar {
  width: 80%;
  height: 0.6rem;
  background-image: linear-gradient(to right, #d31027 0%, #ea384d 100%);
  border-radius: 100vh;
}

.arena .player-info .will .attribute-bar {
  width: var(--will);
}
.arena .player-info .pride .attribute-bar {
  width: var(--pride);
}

.arena .player-info .attribute h4 {
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.arena .player-info .skills {
  font-size: 1.4rem;
  margin-top: 1rem;
  grid-column: span 2;
}

.arena .player-info .skills div {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  margin-bottom: 0;
  width: 5.95rem;
  height: 5.95rem;
  background-color: var(--stat-color);
  border-radius: 100vh;
}

.arena .player-info .skills img {
  width: 95%;
  height: 95%;
  border: 2px solid var(--stat-color);
  border-radius: 100vh;
}

.arena .player-info .skills .tooltipText {
  max-width: none;
  font-weight: bold;
  border-radius: 5px;
}
/* ***************** */
/* Arena Players */

.arena .player-1 {
  margin-left: 0;
  /* margin-right: 6rem; */
  justify-self: start;
  transform: translateX(calc(18.75rem - 50%));
  /* We are giving an initial translation so that we don't have to animate the width which cause jittering */
}
.arena .player-2 {
  /* margin-left: 6rem; */
  margin-right: 0;
  justify-self: end;
  transform: translateX(calc(-18.75rem + 50%));
}

.arena .players {
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-self: center;
  transition: all 0.6s ease 0.4s;
}
.arena.battleState .player-1 {
  /* justify-self: start; */
  transform: translate(0rem, 10rem);
}
.arena.battleState .player-2 {
  /* justify-self: end; */
  transform: translate(0rem, 10rem);
}

.arena .player-box {
  position: relative;
  width: 28rem;
  /* align-self: end; */
}

.arena .player-box img {
  height: var(--playHeight);
  object-fit: contain;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.arena .player-box .body {
  height: var(--playHeight);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.arena .player-box .body.hide {
  height: var(--playHeight);
  opacity: 0;
  animation: transform 1.5s ease-in forwards 0.3s;
  transition: opacity 0.3s ease 1.5s;
}

.arena .player-box .overlay {
  position: absolute;
  z-index: 1;
  opacity: 0;
  bottom: 0;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.arena .player-box .overlay.show {
  opacity: 0.9;
}

.arena .player-box .overlay.dodge {
  transform: scale(1.2) translate(0%, -12%);
}
.arena .player-box .overlay.defend {
  transform: scale(1.7) translate(0%, -10%);
}
.arena .player-box .overlay.charge,
.arena .player-box .overlay.transform,
.arena .player-box .overlay.restore {
  width: 50rem;
  height: 50rem;
  transform: scale(1) translate(-11.5rem, -10%);
}

.arena .player-box .overlay.transform {
  z-index: -1;
}

.arena .player-box .overlay.transform.show {
  opacity: 1;
}
.arena .player-box .overlay.restore.show {
  opacity: 0.8;
}

.arena .player-1 .player-box {
  align-self: start;
}
.arena .player-2 .player-box {
  align-self: end;
}

/* .arena .player-box.animate img {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
} */

/* ***************** */
/* Player-stats */

.arena .player-stats {
  display: flex;
  position: absolute;
  top: -11rem;
  gap: 1rem;
  z-index: -1;
}

.arena.battleState .player-stats {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0.5s, transform 0.6s ease 3s;
}

.arena .player-1 .player-stats {
  left: -2rem;
}

.arena .player-2 .player-stats {
  flex-direction: row-reverse;
  right: -2rem;
}

.arena .player-stats .avatar {
  width: 10rem;
  align-self: end;
}

.arena .player-stats .avatar img {
  display: block;
  margin: auto;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100vh;
  box-shadow: 0 0 5px black;
}

.arena .player-stats .avatar-name {
  font-family: var(--name-font);
  font-size: 2.8rem;
  font-weight: normal;
  color: var(--stat-color);
  width: fit-content;
}

.arena .player-2 .player-stats .avatar-name {
  margin-left: auto;
}

.arena .player-bars .injury-bar {
  margin-top: 0.5rem;
  width: 40rem;
}

.arena .player-2 .injury-bar {
  margin-left: auto;
  direction: rtl;
}

.arena .player-bars .injury-icon {
  position: relative;
  display: inline-block;
  background-color: var(--stat-color);
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  border-radius: 100vh;
}

.arena .player-bars .injury-icon img {
  object-fit: contain;
}

.arena .player-bars .injury-icon span {
  background-color: var(--red-color);
  position: absolute;
  font-weight: bold;
  font-size: 1.1rem;
  top: -0.3rem;
  right: -0.9rem;
  width: 1.55rem;
  height: 1.55rem;
  border-radius: 100vh;
  color: white;
  text-align: center;
}

.arena .player-stats .player-bar {
  margin-bottom: 0.2rem;
  border: 2px solid rgba(0, 0, 0, 0.719);
  background-color: rgba(0, 0, 0, 0.719);
  transform: skew(-20deg);
  /* border-radius: 1px; */
}

.arena .player-stats .player-bar .barfill {
  position: absolute;
  display: block;
  height: 100%;
  transition: width 0.3s ease;
  /* border-radius: 1px; */
  /* background-color: var(--red-color); */
}

.arena .player-bar.health .fill2,
.arena .player-bar.health .fill4 {
  transition: width 0.3s ease 1.5s;
  background-color: var(--red-color);
}

.arena .player-1 .player-bar.health .fill1,
.arena .player-1 .player-bar.health .fill2 {
  width: var(--hp1);
}
.arena .player-1 .player-bar.health .fill3,
.arena .player-1 .player-bar.health .fill4 {
  width: var(--hp2);
}

.arena .player-2 .player-bar.health .fill1,
.arena .player-2 .player-bar.health .fill2 {
  width: var(--hp3);
}
.arena .player-2 .player-bar.health .fill3,
.arena .player-2 .player-bar.health .fill4 {
  width: var(--hp4);
}

.arena .player-2 .player-bar {
  transform: rotateY(180deg) skew(-20deg);
  margin-left: auto;
}

.arena .player-bar.health {
  width: 45rem;
  height: 1.75rem;
  margin-bottom: 0.3rem;
}
.arena .player-bar.rage {
  width: 35rem;
  height: 1.3rem;
}
.arena .player-bar.potential {
  width: 30rem;
  height: 1.3rem;
}

.arena .player-bar.health .fill1 {
  background-color: var(--blue-color);
}
.arena .player-stats .player-bar.health .fill2 {
  z-index: -1;
}
.arena .player-bar.health .fill3 {
  background-color: var(--yellow-color);
  z-index: -2;
}
.arena .player-stats .player-bar.health .fill4 {
  z-index: -3;
}
.arena .player-bar.rage .barfill {
  background-color: var(--red-color);
}
.arena .player-bar.potential .barfill {
  background-color: var(--lime-color);
}

/* Race Ability Image */
.arena .players .ability {
  position: absolute;
  bottom: 30rem;
  width: 7rem;
  height: 7rem;
  border-radius: 100vh;
  box-shadow: 0 0 2px black;
  opacity: 0;
  visibility: hidden;
}

.arena .players .ability.show {
  opacity: 1;
  visibility: visible;
}

.arena .player-1 .ability {
  left: -8.5rem;
}
.arena .player-2 .ability {
  right: -8.5rem;
}

/* Radar of Arena */
.arena .players .radar {
  position: fixed;
  top: -10rem;
}
.arena .players .radar img {
  width: 12rem;
  height: 12rem;
}
.arena .players .radar .radar-cookie {
  width: 9.5rem;
  height: 9.5rem;
}

.arena .player-1 .radar {
  left: -25rem;
}
.arena .player-2 .radar {
  right: -25rem;
}

.arena .players .transform-bar {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 4.75rem;
  z-index: -1;
}

.arena .player-1 .transform-bar {
  left: -19rem;
}
.arena .player-2 .transform-bar {
  right: -19rem;
  transform: rotateY(180deg);
}

.arena .players .transform-bar img {
  position: absolute;
  bottom: 0;
}

.arena .players .transform-border {
  /* position: absolute; */
  /* bottom: 0; */
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 2px solid black;
  clip-path: path(
    "M 79.2 186.912 Q 79.2 190.08 76.032 190.08 L 50.688 190.08 Q 47.52 190.08 47.52 186.912 Q 20.592 53.856 31.68 17.424 Q 32.1552 15.6816 34.848 15.84 L 90.288 15.84 Q 93.456 15.84 91.872 19.008 Q 64.944 60.192 71.28 123.552 Z"
  );
  transform: translate(45px, -03px) scale(1.12, 1.13);
}

.arena .players .transform-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16%;
  background-color: #fff835;
  transition: height 0.3s ease;
}

.arena .player-injury {
  position: absolute;
  display: flex;
  bottom: 7.6rem;
}

.arena .player-1 .player-injury {
  left: 16rem;
}

.arena .player-2 .player-injury {
  right: 16rem;
}

.arena .player-injury .injury-icon {
  display: inline-block;
  background-color: var(--stat-color);
  margin: 0 0.4rem;
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.7rem;
  border-radius: 100vh;
}

.arena .player-injury .injury-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arena .player-2 .player-injury {
  direction: rtl;
}

.arena .players .player-data {
  /* width: 17rem; */
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.arena .players .player-name {
  font-family: var(--name-font);
  font-size: 3rem;
  color: var(--stat-color);
  margin-bottom: 1rem;
}

.arena.battleState .players .player-data {
  opacity: 0;
  visibility: hidden;
}

/* ******************** */
/* Arena Message Log */

.arena #message {
  font-family: "Reggae One", cursive;
  font-size: 4.5rem;
  font-style: italic;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  z-index: 2;
}

.arena #message span {
  padding-right: 1.5rem;
  opacity: 0;
  position: absolute;
  display: block;
  text-align: center;
  transform: translateX(-50%);
}

.arena #message.show span {
  animation: appear 2.4s ease;
}

.arena #message span.message2 {
  animation-delay: 1.2s;
}

#message .gradient-text {
  color: #9c0000;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .gradient-text {
    /* Fallback: Set a background color. */
    background-color: #6e0000;

    /* Create the gradient. */
    background-image: linear-gradient(180deg, #e61414 20%, #6e0000);

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

/* ******************** */
/* Arena Special Move Define */

.arena #define {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 50%;
  /* height: 25rem; */
  padding: 2rem 3rem;
  font-size: 1.7rem;
  transform: translateX(-50%);
  background-image: url("img/UI/old_paper2.jpg");
  background-position: 50% 0%;
  border-radius: 2rem;
  border: 3px solid var(--stat-color);
  box-shadow: 0 0 8px black;
  z-index: 1;
}

.arena #define h1 {
  font-family: "Reggae One", cursive;
}

.arena #define .avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.4em;
}

.arena #define .avatar img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  margin-right: 1rem;
  border: 2px solid var(--stat-color);
  box-shadow: 0 0 5px black;
  /* display: none; */
}

.arena #define .detail {
  margin-bottom: 1rem;
}

.arena #define .trait {
  margin-bottom: 1rem;
  font-weight: bold;
}

.arena #define .trait span {
  font-size: 1.1em;
}

.arena #define .attribute {
  font-family: "Reggae One", cursive;
  font-style: italic;
  color: #9c0000;
  font-weight: bold;
  font-size: 1.4em;
}
/* ***************** */
/* Button Section */

.buttons {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.buttons .bell-btn {
  background-color: rgb(248, 10, 30);
  /* background-color: #ff5e5e; */
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  animation: flydown 0.3s ease both 0.5s;
  width: 16rem;
  transform: translateY(20rem);
}

.buttons .bell-btn.show {
  opacity: 1;
  visibility: visible;
  animation: flyup 0.3s ease forwards 1s, ring 1.8s ease-in-out 2s infinite;
}

/* ***************** */
/* Characters */

.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 1.5rem auto 2rem;
}

.characters .character {
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  border: 2px solid black;
  border-radius: 2px;
  position: relative;
}

.characters .character::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.characters .character:hover {
  transform: scale(1.1);
}
.characters .character:hover::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.characters .character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ***************** */
/* Specials (Moves) */

.specials {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top: 2px solid var(--stat-color);
  opacity: 0;
  visibility: hidden;
}

.specials .moveset {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;
  background-color: #c9d7e3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease, transform 0.8s ease 1s;
}

.specials.slide .moveset {
  transform: translateX(-100%);
}

.specials .moveset div {
  width: 13.5rem;
  height: 13.5rem;
  margin: 0 4rem;
  border-radius: 100vh;
  cursor: pointer;
  transition: all 0.01s ease 0.3s, filter 0.5s ease 2s;
}

.specials .moveset div img {
  border-radius: 100vh;
  transform: scale(1);
  transition: all 0.2s ease;
}

.specials .moveset div:hover {
  background-color: var(--stat-color);
  /* border: 3px solid var(--stat-color); */
  transition: none;
}

.specials .moveset div:hover img {
  transform: scale(0.8);
}

.specials .moveset div:active img {
  transform: scale(0);
}

/* BattleState Transition */

.arena .battle-control,
.arena .players .radar,
.arena .players .transform-bar,
.buttons,
.specials {
  transition: all 0.5s ease 3.5s;
}
.arena .battle-control.battleState,
.arena .players.battleState .radar,
.arena .players.battleState .transform-bar,
.buttons.battleState,
.specials.battleState,
.specials.battleState .moveset {
  opacity: 1;
  visibility: visible;
}
.buttons {
  transform: translateY(-20rem);
  transition: all 0.5s ease 5s, transform 0.5s ease 2s;
}
.buttons.battleState {
  transform: translateY(0rem);
}

/* ***************** */
/* Buttons */

.game-btn {
  display: block;
  margin: 2rem auto;
  font-size: 3rem;
  font-family: inherit;
  border: 2px solid rgb(255, 109, 109);
  box-shadow: -1px 1px rgb(121, 55, 55), -2px 2px rgb(131, 54, 54), -3px 3px rgb(102, 37, 37),
    -4px 4px rgb(102, 37, 37);
  cursor: pointer;
  background-color: #ff5e5e;
  color: white;
  transition: all 0.1s cubic-bezier(0.59, 0, 0.68, 0.19), opacity 0.3s ease 0.4s,
    visibility 0.3s ease 0.5s;
}

.game-btn:active {
  border: 2px solid rgb(255, 96, 96);
  box-shadow: -1px 1px rgb(121, 55, 55);
  transform: translate(-3px, 3px);
  transition: none;
}

.test-btn {
  position: fixed;
  top: 65rem;
  right: 2rem;
  display: none;
}

/* ***************** */
/* Selection Window */

.selection {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  z-index: 1000;
  border-top: 4px solid white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.selection.show {
  opacity: 1;
  visibility: visible;
}

.selection .layer {
  position: absolute;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  background-color: rgba(22, 22, 22, 0.445);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

.selection.show .layer {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .selection .layer {
    background-color: rgba(95, 95, 95, 0.7);
    box-shadow: inset 0 100vh 1px rgba(0, 0, 0, 0.548);
  }
}

.selection .choose {
  flex-grow: 1;
  max-width: 90rem;
  display: grid;
  height: 60vh;
  row-gap: 8rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  margin-top: 18vh;
}

.selection .choose .radar {
  align-self: center;
  opacity: 0;
  transition: all 0.3s ease 0.8s;
}
.selection .choose .radar img {
  width: 25rem;
  height: 25rem;
}
.selection .choose .radar .radar-cookie {
  width: 21rem;
  height: 21rem;
}
.selection .choose .radar1 {
  justify-self: start;
}
.selection .choose .radar2 {
  justify-self: end;
}

.selection.show .choose .radar {
  opacity: 1;
}
.selection .choose .btns {
  place-self: center;
  grid-column: span 2;
}
.selection .choose .btn {
  width: 20rem;
  border-radius: 5px;
  opacity: 0;
  margin: 0;
  margin-bottom: 4rem;
  align-self: center;
}
.selection.show .choose .btn {
  opacity: 1;
}
.selection .choose .start {
  transition: opacity 10ms linear 1.6s;
}
.selection .choose .normal {
  transition: opacity 10ms linear 1.9s;
}

.selection .players {
  position: relative;
  padding-top: 0.5rem;
  width: 30rem;
  opacity: 0;
  transition: opacity 0.1s ease, transform 0.3s ease 0.8s;
}

.selection.show .players {
  opacity: 1;
  transform: translateX(0%);
}

.selection .players .levels {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.selection .players::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.selection .player-1 {
  border-right: 10px solid white;
  transform: translateX(-110%);
}

.selection .player-1::after {
  right: -24px;
  border-left: 15px solid rgb(255, 255, 255);
}

.selection .player-2 {
  border-left: 10px solid white;
  transform: translateX(110%);
}

.selection .player-2::after {
  left: -24px;
  border-right: 15px solid rgb(255, 255, 255);
}

.selection .players .level {
  padding: 1rem 0;
  margin: 0.5rem 1rem;
  height: 35rem;
  width: 27rem;
  align-self: center;
  background-color: var(--blue-color);
  background-color: rgba(0, 0, 0, 0.9);
  border: 0px solid var(--blue-color);
  border-radius: 3px;
  object-fit: contain;
  cursor: pointer;
  transition: border 0.1s ease;
}

.selection .players .level:hover {
  border: 3px solid var(--blue-color);
}
.selection .players .level.active {
  border: 5px solid var(--blue-color);
}

/* Global */

/* Hide scrollbar */
.hideScroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hideScroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Tooltip */

.tooltipElement {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipElement .tooltipText {
  position: absolute;
  top: -6px;
  left: 50%;
  padding: 1rem;
  font-size: 1.75rem;
  width: max-content;
  max-width: 20rem;
  background: rgb(225, 225, 255);
  color: black;
  border-radius: 2px;
  border: 1px solid var(--stat-color);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
}

.tooltipElement:hover .tooltipText {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -100%) scale(1);
}

.specials .tooltipElement .tooltipText {
  width: 40rem;
  max-width: none;
}

/* Global Classes */

.fade-in {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 5s;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.lock {
  pointer-events: none;
  filter: grayscale(100%);
}

/* Animations */

@keyframes shake1 {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, -1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 1px, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, -1px, 0);
  }
}

@keyframes shake2 {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, -1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 1px, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, -1px, 0);
  }
}

@keyframes shake3 {
  5%,
  95% {
    transform: translate3d(-1px, 0, 0);
  }

  10%,
  90% {
    transform: translate3d(1px, 0, 0);
  }

  15%,
  85% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  25%,
  75% {
    transform: translate3d(-2px, 0, 0);
  }

  30%,
  70% {
    transform: translate3d(2px, 0, 0);
  }

  35%,
  65% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }

  45%,
  55% {
    transform: translate3d(-3px, 0, 0);
  }
  50% {
    transform: translate3d(3px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes transform {
  0% {
    transform: translate3d(0, 0, 0);
    scale: 1;
  }
  5% {
    transform: translate3d(-1px, 0, 0);
  }
  10% {
    transform: translate3d(1px, 0, 0);
  }
  11% {
    transform: translate3d(-1px, 0, 0);
  }
  20% {
    transform: translate3d(1px, -1px, 0);
  }
  25% {
    transform: translate3d(-1px, -1px, 0);
  }
  30% {
    transform: translate3d(1px, -1px, 0);
  }
  32% {
    transform: translate3d(-2px, -1px, 0);
  }
  40% {
    transform: translate3d(2px, -1px, 0);
  }
  45% {
    transform: translate3d(-2px, -1px, 0);
  }
  50% {
    transform: translate3d(2px, -2px, 0);
  }
  55% {
    transform: translate3d(-3px, -2px, 0);
  }
  60% {
    transform: translate3d(3px, -2px, 0);
  }
  65% {
    transform: translate3d(-3px, -2px, 0);
  }
  70% {
    transform: translate3d(3px, -2px, 0);
  }
  75% {
    transform: translate3d(-4px, -2px, 0);
  }
  80% {
    transform: translate3d(4px, -3px, 0);
  }
  85% {
    transform: translate3d(-4px, -3px, 0);
  }
  90% {
    transform: translate3d(4px, -3px, 0);
  }
  95% {
    transform: translate3d(-4px, -3px, 0);
  }
  100% {
    transform: translate3d(4px, -4px, 0);
    scale: 1.07;
  }
}

@keyframes flicker {
  10%,
  30%,
  90% {
    opacity: 0;
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
}

@keyframes flydown {
  from {
    transform: translateY(var(--fly));
  }

  to {
    transform: translateY(20rem);
  }
}
@keyframes flyup {
  from {
    transform: translateY(20rem);
  }

  to {
    transform: translateY(var(--fly));
  }
}

@keyframes ring {
  0% {
    transform: translate(0, var(--fly)) rotate(0deg);
  }

  5% {
    transform: translate(1px, var(--fly)) rotate(-3deg);
  }

  10% {
    transform: translate(1px, var(--fly)) rotate(3deg);
  }

  15% {
    transform: translate(1px, var(--fly)) rotate(-3deg);
  }

  20% {
    transform: translate(-1px, var(--fly)) rotate(3deg);
  }

  25% {
    transform: translate(-1px, var(--fly)) rotate(-3deg);
  }

  30% {
    transform: translate(1px, var(--fly)) rotate(3deg);
  }

  35% {
    transform: translate(1px, var(--fly)) rotate(-3deg);
  }

  40% {
    transform: translate(0, var(--fly)) rotate(0deg);
  }

  100% {
    transform: translate(0, var(--fly)) rotate(0deg);
  }
}

@keyframes battle-bell1 {
  0% {
    transform: translate(-50%, 0%) scale(1.9);
  }
  100% {
    transform: translate(-50%, 0%) scale(0.4);
  }
}
@keyframes battle-bell2 {
  0% {
    transform: translate(-50%, 0%) scale(0.4);
  }
  100% {
    transform: translate(-50%, -26rem) scale(0.2);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, 0rem) scale(0.85);
  }
  8.33% {
    opacity: 1;
    transform: translate(-50%, -8rem) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -8rem);
  }
  55% {
    opacity: 0;
  }
  58.33% {
    opacity: 0;
    transform: translate(-50%, -16rem);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0rem);
  }
}

/* Media Queries */

@media screen and (max-width: 1366px) {
  :root {
    font-size: 46.5%;
  }
  .arena .player-1 .transform-bar {
    transform: scale(0.75);
  }
  .arena .player-2 .transform-bar {
    transform: scale(0.75) rotateY(180deg);
  }
  .arena .player-info {
    width: 38rem;
  }
  .arena .player-info .ability p {
    font-size: 1.1rem;
  }
  .arena .player-info .attribute h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 40%;
    --fly: 11rem;
  }
  .arena.move,
  .buttons {
    transform: translateY(7rem);
  }
  .arena.move .player-stats {
    transform: translateY(-7rem);
  }
  .buttons .bell-btn {
    font-size: 2.8rem;
    width: 18rem;
  }
  .arena .battle-bell.battleState {
    animation: battle-bell1 0.23s ease 0.5s, battle-bell2 0.23s ease 2.2s, battle-bell3 0.6s ease 3s;
    animation-fill-mode: forwards;
  }
  .arena .player-1 .transform-bar {
    transform: translateY(2.5rem) scale(0.6);
  }
  .arena .player-2 .transform-bar {
    transform: translateY(2.5rem) scale(0.6) rotateY(180deg);
  }
  .specials .moveset {
    padding: 4rem;
  }
  .specials .moveset div {
    width: 14rem;
    height: 14rem;
  }

  @keyframes battle-bell3 {
    0% {
      transform: translate(-50%, -26rem) scale(0.2);
    }
    100% {
      transform: translate(-50%, -33rem) scale(0.2);
    }
  }
}
